<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='navbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>

    <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <a href="/" class="brand">Nom du site</a>
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper" style="list-style: none;">
              <li class="nav__item">
                <div class="dropdown">
                <button class="dropbtn">Cours
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/c/projectionvectorielle" class="dropdown-item">Projection vectorielle</a>
                  <a href="#" class="dropdown-item">Introduction aux lois de Newton</a>
                  <a href="#" class="dropdown-item">Statique des fluides</a>
                </div>
              </div></li>
              <li class="nav__item"><div class="dropdown">
                <button class="dropbtn">Exercices
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/ex/projectionvectorielle" class="dropdown-item">Projection vectorielle</a>
                  <a href="/ex/newton" class="dropdown-item">Introduction aux lois de Newton</a>
                  <a href="/ex/statiquedesfluides" class="dropdown-item">Statique des fluides</a>
                </div>
              </div></li>
              <li class="nav__item"><a href="#">Problèmes</a></li>
              <li class="nav__item"><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

{% block body %} {% endblock %}

</body>
</html>